<!-- <section class="pricing-table">
    <div class="container">
        <div class="block-heading">
            <h2>Pricing Table</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-5 col-lg-4">
                <div class="item">
                    <div class="heading">
                        <h3>BASIC</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="features">
                        <h4><span class="feature">Full Support</span> : <span class="value">No</span></h4>
                        <h4><span class="feature">Duration</span> : <span class="value">30 Days</span></h4>
                        <h4><span class="feature">Storage</span> : <span class="value">10GB</span></h4>
                    </div>
                    <div class="price">
                        <h4>$25</h4>
                    </div>
                    <button class="btn btn-block btn-outline-primary" type="submit">BUY NOW</button>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="item">
                    <div class="ribbon">Best Value</div>
                    <div class="heading">
                        <h3>PRO</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="features">
                        <h4><span class="feature">Full Support</span> : <span class="value">Yes</span></h4>
                    </div>
                    <div class="price">
                        <h4>$50</h4>
                    </div>
                    <button class="btn btn-block btn-primary" type="submit">BUY NOW</button>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="item">
                    <div class="heading">
                        <h3>PREMIUM</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="features">
                        <h4><span class="feature">Full Support</span> : <span class="value">Yes</span></h4>
                        <h4><span class="feature">Duration</span> : <span class="value">120 Days</span></h4>
                        <h4><span class="feature">Storage</span> : <span class="value">150GB</span></h4>
                    </div>
                    <div class="price">
                        <h4>$150</h4>
                    </div>
                    <button class="btn btn-block btn-outline-primary" type="submit">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section id="Companies" class="container companies-container">
    <h1>Findtrend make +1000 Startup grow</h1>
    <div class="cards">
        <div class="card">
            <img src="../assets/img/companies-logo/Microsoft-Logo.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/Allianz_Logo__438x220px.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/Upwork-Logo.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/volvo logo.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/grab logo.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/Verizon_2015_logo_-vector.svg.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/coinbase logo.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/expedian logo.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/airtable-square-cube-logo.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/1280px-Magento.svg.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/carrera.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/bonanza-1-logo-png-transparent.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/wetransfer logo.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/Suzuki_Motors-Logo.wine.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/Algolia-logo.svg.png">
        </div>
        <div class="card">
            <img src="../assets/img/companies-logo/Heineken-Logo.png">
        </div>
    </div>
</section>
<!-- <div class=" container-fluid pricingTable pt-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner d-flex tabsBtnHolder">
                    <ul>
                        <li>
                            <p id="monthly" class="active">Monthly</p>
                        </li>
                        <li>
                            <p id="yearly" class="">Yearly</p>
                        </li>

                        <li class="indicator"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row monthlyPriceList animated">
            <div class="col-md-4">
                <div class="inner holder">
                    <div class="hdng">
                        <p>Starter Plan</p>
                    </div>
                    <div class="price mt-5">
                        <p><b>$49.99</b><span> / mo</span></p>
                    </div>
                    <div class="info">
                        <p>Increase Traffic 130%</p>
                        <p>Backlink Analysis</p>
                        <p>24/7 Support</p>
                    </div>
                    <div class="btn">
                        <a href="#" class="readon">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="inner holder active">
                    <div class="hdng">
                        <p>Basic Plan</p>
                    </div>
                    <div class="price mt-5">
                        <p><b>$69.99</b><span> / mo</span></p>
                    </div>
                    <div class="info">
                        <p>Increase Traffic 130%</p>
                        <p>Backlink Analysis</p>
                        <p>Organic Trafic 215%</p>
                        <p>10 Free Optimization</p>
                        <p>24/7 Support</p>
                    </div>
                    <div class="btn">
                        <a href="#" class="readon">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="inner holder">
                    <div class="hdng">
                        <p>Business Plan</p>
                    </div>
                    <div class="price mt-5">
                        <p><b>$99.99</b><span> / mo</span></p>
                    </div>
                    <div class="info">
                        <p>Increase Traffic 130%</p>
                        <p>Backlink Analysis</p>
                        <p>Organic Trafic 215%</p>
                        <p>10 Free Optimization</p>
                        <p>24/7 Support</p>
                    </div>
                    <div class="btn">
                        <a href="#" class="readon">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row yearlyPriceList d-none animated">
            <div class="col-md-4">
                <div class="inner holder">
                    <div class="hdng">
                        <p>Starter Plan</p>
                    </div>
                    <div class="price mt-5">
                        <p><b>$499.99</b><span> / mo</span></p>
                    </div>
                    <div class="info">
                        <p>Increase Traffic 130%</p>
                        <p>Backlink Analysis</p>
                        <p>Organic Trafic 215%</p>
                        <p>10 Free Optimization</p>
                        <p>24/7 Support</p>
                    </div>
                    <div class="btn">
                        <a href="#" class="readon">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="inner holder active">
                    <div class="hdng">
                        <p>Basic Plan</p>
                    </div>
                    <div class="price mt-5">
                        <p><b>$699.99</b><span> / mo</span></p>
                    </div>
                    <div class="info">
                        <p>Increase Traffic 130%</p>
                        <p>Backlink Analysis</p>
                        <p>Organic Trafic 215%</p>
                        <p>10 Free Optimization</p>
                        <p>24/7 Support</p>
                    </div>
                    <div class="btn">
                        <a href="#" class="readon">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="inner holder">
                    <div class="hdng">
                        <p>Business Plan</p>
                    </div>
                    <div class="price mt-5">
                        <p><b>$999.99</b><span> / mo</span></p>
                    </div>
                    <div class="info">
                        <p>Increase Traffic 130%</p>
                        <p>Backlink Analysis</p>
                        <p>Organic Trafic 215%</p>
                        <p>10 Free Optimization</p>
                        <p>24/7 Support</p>
                    </div>
                    <div class="btn">
                        <a href="#" class="readon">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->